<div id="" class="OneContainer">
  <div class="row">
    <div class="col-sm-6">
      <div class="Panel">
        <div class="PanelTitle">技术支持</div>
        <div class="PanelBody">
          <p>战术小队 服务器技术支持：</p>
          <ul>
            <li>旋风：510600087 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=510600087&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:510600087:41" height="18" /></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--如果有需要，您可以自己修改-->
    <!--<div class="col-sm-6">
			<div class="Panel">
				<div class="PanelTitle">宿主机</div>
				<div class="PanelBody">
					<p>如有需要，这里可能会有宿主机服务商提供的信息.</p>
				</div>
			</div>
		</div>-->
  </div>
</div>

<script>
  MI.rListener("onload", function () {
    // 定义页面地址
    TOOLS.definePage("template/gen_about", "genuser/home", "");
  });

  MI.rListener("onend", function () {});
</script>
